@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  :root {
  --star-yellow: #FACC15;
  --dark-blue: #0F172A;
  --dark-gray: #374151;
  --pale-blue: #E6E9FB;

  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}